:root {
	--accent1: #e4e4e4;
	--accent2: #949494;
	--border1: #4d4d4d;
	--border2: #1d1d1d;
}

footer {
	text-align: center;
	background-color: black;
	padding: 10px 0;
	width: 100%;
	margin-top: 10px;
	border-top: 1px solid var(--border2);
}

.footer-container h3 {
	font-size: 12px;
	font-weight: 500;
	color: var(--accent2);
	padding: 10px;
}
