.menu-container {
	text-align: center;
	/* background-color: #161616; */
}

.menu-container h1 {
	font-size: 15px;
	font-weight: 600;
}

.menu-content-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80vh;
}

.menu-container .logoutButton {
	text-align: center;
	border-radius: 5px;
	background: linear-gradient(to bottom, #ff7b00, #ff004c);
	color: white;
	padding: 5px;
	width: 100%;
	outline: none;
	border: none;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	box-shadow: 0px 1px 5px black;
	position: relative;
	top: 15px;
}
